.card_typo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}
.card_content{
    flex: 1 1 20%;
    align-self: flex-start;
}
.card_content2{
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    min-height: 50px;
    border-bottom: 1px solid #cbd5e1;
    border-top: 1px solid #cbd5e1;
}
.title{
    font-size: 12px;
    font-weight: 600;
    color: #7f8fa4;
}
.data_font{
    font-size: 14px;
    font-weight: 600;
    color: #666;
}
.card_content3{
    display: flex;
}
.link{
    color: #24a7f8;
}
.action_area{
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
    margin-bottom: 10px;
}