

 .button{
    display: flex;
    margin-bottom: 9px;
    background-color: #007bff;
    height: 42px;
    align-items: center;
    justify-content: center;
    color: rgb(255,255,255);
    width:100%;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 6px;
    border:none;
    margin-top: 2rem;    
}
.button:hover{
    background-color: dodgerblue;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
.labelstyle{
    color:rgb(103,122,142);
    --tw-text-opacity:1;
    margin-bottom: 10px;
    font-size:15px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:block;
    box-sizing:border-box;
    border:0 solid;
    cursor: default;
    text-align: left;
    background-color: #fff;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    box-sizing:border-box;
}
.inputcontainer{
    display: block;
    width:100%;
    color:rgb(57,70,87);
    padding:12px;
    font-size: 14px;
    height:3rem;
    font-weight:500;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-width: 1px;
    border-style: solid;
    border-radius:8px;
    line-height:1px;
    background-clip: border-box;
    background-color:#fff;
    overflow:visible;
    border-color: rgb(103,122,142);
}
 
.formgroup{
    margin-bottom: 1rem;
}

.loginOutbox{ 
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-sizing: border-box; 
    margin: auto; 
    width: 27%;
    height: 50%;
    margin-top: 3rem; 
    margin-bottom: 15px; 
    border: 0  solid;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.errorcontainer{
    background-color: #fff7eb;
}