.Navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: DodgerBlue;
  font-size: large;
  height: 100%;
}
.Navbarsubdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3b4452;
  background-color: #f7f7f7;
}
thead {
  display: table-header-group;
  vertical-align: middle;
}
table {
  text-indent: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #e6e6e6;
}
.tablecell {
  display: inline-block;
  width: 100%;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.day {
  margin-top: 2px;
  margin-left: 2px;
  height: 2rem;
}

.navleft{
  margin-left: 30px;
}
.navright{
  margin-right: 1100px;
}
.adnavright{
margin-right: 900px;
}